<%= link_to 'New post', new_post_path, { :class=>"btn btn-primary new_post_button" } %>

<% @posts.each do |post| %>
  <ul class = "posts_list">
    <li class="hero-unit span9">
      
      <div>
        <h3><%= link_to post.title, post %></h3>
        <span><%= post.user.email %> </span>
      </div>

      <div>  
        <%= post.created_at.strftime("%B %d, %Y %I:%l %P") %>
      </div>

      <div>
        <%= post.content %>
      <div>
      </li>
  </ul>
<% end %>
 
