<% if @post.errors.any? %>
	<div id="error_explanation" class = "alert alert-error">
	  <p><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</p>

	  <% @post.errors.full_messages.each do |msg| %>
	    <p><%= msg %></p>
	  <% end %>
	</div>
<% end %>

<%= form_for @post, :url => { :action => "create" }, :html => {:class => "nifty_form"} do |f| %>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :content %>
  <%= f.text_area :content, :size => "60x12" %>
  <br>
  <%= f.submit "Create Post" %>
<% end %>
